GridBackground
{
	--grid-background-color: var(--ds-colors-grid-light-gray-1);
	--line-color:  var(--ds-colors-grid-light-gray-2);
	--thick-line-color:  var(--ds-colors-grid-light-gray-3);
	--spacing:  var(--ds-metrics-grid-25);
}